In [1]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///orm_test5.db', echo=True)

In [2]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
from sqlalchemy import Column, Integer, String, DateTime
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    date = Column(DateTime)
    def __repr__(self):
       return "<User(name='%s', fullname='%s', nickname='%s',date='%s')>" % (
                            self.name, self.fullname, self.nickname, self.date)

In [4]:
from sqlalchemy import Sequence
Column(Integer, Sequence('user_id_seq'), primary_key=True)

Column(None, Integer(), table=None, primary_key=True, nullable=False, default=Sequence('user_id_seq'))

In [5]:
Base.metadata.create_all(engine)

2022-09-05 08:24:45,012 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-05 08:24:45,013 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2022-09-05 08:24:45,014 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-05 08:24:45,021 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")
2022-09-05 08:24:45,022 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-09-05 08:24:45,024 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	date DATETIME,
	PRIMARY KEY (id)
)


2022-09-05 08:24:45,025 INFO sqlalchemy.engine.Engine [no key 0.00084s] ()
2022-09-05 08:24:45,042 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
from datetime import datetime
now = datetime.now()

In [7]:
# Create an instance of the mapped Class

ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname', date=now)
print(ed_user)
print(ed_user.name)
print(ed_user.fullname)
print(ed_user.nickname)
print(str(ed_user.id))

<User(name='ed', fullname='Ed Jones', nickname='edsnickname',date='2022-09-05 08:24:59.319285')>
ed
Ed Jones
edsnickname
None

In [8]:
from sqlalchemy.orm import sessionmaker

session_maker = sessionmaker(bind=engine)
session = session_maker()

In [9]:
session.add(ed_user)
print(ed_user)
ed_user in session.dirty

<User(name='ed', fullname='Ed Jones', nickname='edsnickname',date='2022-09-05 08:24:59.319285')>

False

In [10]:
session.commit()

2022-09-05 08:25:29,584 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-05 08:25:29,586 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname, date) VALUES (?, ?, ?, ?)
2022-09-05 08:25:29,587 INFO sqlalchemy.engine.Engine [generated in 0.00119s] ('ed', 'Ed Jones', 'edsnickname', '2022-09-05 08:24:59.319285')
2022-09-05 08:25:29,595 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', nickname='windy',date=now),
    User(name='mary', fullname='Mary Contrary', nickname='mary', date=now),
    User(name='fred', fullname='Fred Flintstone', nickname='freddy', date=now)])

session.commit()

2022-09-05 08:25:37,239 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-05 08:25:37,241 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname, date) VALUES (?, ?, ?, ?)
2022-09-05 08:25:37,242 INFO sqlalchemy.engine.Engine [cached since 7.655s ago] ('wendy', 'Wendy Williams', 'windy', '2022-09-05 08:24:59.319285')
2022-09-05 08:25:37,249 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname, date) VALUES (?, ?, ?, ?)
2022-09-05 08:25:37,250 INFO sqlalchemy.engine.Engine [cached since 7.664s ago] ('mary', 'Mary Contrary', 'mary', '2022-09-05 08:24:59.319285')
2022-09-05 08:25:37,251 INFO sqlalchemy.engine.Engine INSERT INTO users (name, fullname, nickname, date) VALUES (?, ?, ?, ?)
2022-09-05 08:25:37,252 INFO sqlalchemy.engine.Engine [cached since 7.665s ago] ('fred', 'Fred Flintstone', 'freddy', '2022-09-05 08:24:59.319285')
2022-09-05 08:25:37,253 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
from sqlalchemy import select

In [13]:
query_all = session.query(User)
print(query_all)
print(type(query_all))

SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname, users.date AS users_date
FROM users
<class 'sqlalchemy.orm.query.Query'>

In [14]:
for i in query_all:
    print(i)

2022-09-05 08:26:00,254 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-09-05 08:26:00,256 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname, users.date AS users_date
FROM users
2022-09-05 08:26:00,258 INFO sqlalchemy.engine.Engine [generated in 0.00149s] ()
<User(name='ed', fullname='Ed Jones', nickname='edsnickname',date='2022-09-05 08:24:59.319285')>
<User(name='wendy', fullname='Wendy Williams', nickname='windy',date='2022-09-05 08:24:59.319285')>
<User(name='mary', fullname='Mary Contrary', nickname='mary',date='2022-09-05 08:24:59.319285')>
<User(name='fred', fullname='Fred Flintstone', nickname='freddy',date='2022-09-05 08:24:59.319285')>

In [15]:
session.close()

2022-09-05 08:27:13,932 INFO sqlalchemy.engine.Engine ROLLBACK