In [2]:
from sqlalchemy import create_engine, MetaData, Table
from psql import db, session

In [7]:
model_config = Table('model_config', MetaData(), autoload=True, autoload_with=db)
model_run = Table('model_run', MetaData(), autoload=True, autoload_with=db)
model_profile = Table('model_profile', MetaData(), autoload=True, autoload_with=db)
model_view = Table('model_view', MetaData(), autoload=True, autoload_with=db)

In [5]:
print(type(model_config))

<class 'sqlalchemy.sql.schema.Table'>

In [6]:
session.query(model_config).all()

[(1, 'model_a', 'c16_dt3600', '1', '6', 'breeze'),
 (2, 'model_b', 'c16_dt3600', '1', '6', 'breeze')]

In [8]:
session.query(model_run).all()

[(1, datetime.datetime(2015, 1, 10, 0, 51, 14), 25464, 1),
 (2, datetime.datetime(2015, 2, 10, 0, 51, 14), 25485, 1),
 (3, datetime.datetime(2015, 3, 10, 0, 51, 14), 26554, 1),
 (4, datetime.datetime(2015, 1, 10, 0, 51, 14), 25464, 2),
 (5, datetime.datetime(2015, 2, 10, 0, 51, 14), 25485, 2),
 (6, datetime.datetime(2015, 3, 10, 0, 51, 14), 26554, 2)]

In [9]:
session.query(model_profile).all()

[(1, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90'), 1),
 (2, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23'), 1),
 (3, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17'), 1),
 (4, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90'), 2),
 (5, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23'), 2),
 (6, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17'), 2),
 (7, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90'), 3),
 (8, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23'), 3),
 (9, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17'), 3),
 (10, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90'), 4),
 (11, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23'), 4),
 (12, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17'), 4),
 (13, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90'), 5),
 (14, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23'), 5),
 (15, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17'), 5),
 (16, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90'), 6),
 (17, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23'), 6),
 (18, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17'), 6)]

In [10]:
session.query(model_view).all()

[('model_a', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 1, 10, 0, 51, 14), 25464, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90')),
 ('model_a', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 1, 10, 0, 51, 14), 25464, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23')),
 ('model_a', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 1, 10, 0, 51, 14), 25464, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17')),
 ('model_a', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 2, 10, 0, 51, 14), 25485, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90')),
 ('model_a', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 2, 10, 0, 51, 14), 25485, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23')),
 ('model_a', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 2, 10, 0, 51, 14), 25485, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17')),
 ('model_a', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 3, 10, 0, 51, 14), 26554, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90')),
 ('model_a', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 3, 10, 0, 51, 14), 26554, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23')),
 ('model_a', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 3, 10, 0, 51, 14), 26554, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17')),
 ('model_b', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 1, 10, 0, 51, 14), 25464, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90')),
 ('model_b', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 1, 10, 0, 51, 14), 25464, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23')),
 ('model_b', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 1, 10, 0, 51, 14), 25464, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17')),
 ('model_b', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 2, 10, 0, 51, 14), 25485, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90')),
 ('model_b', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 2, 10, 0, 51, 14), 25485, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23')),
 ('model_b', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 2, 10, 0, 51, 14), 25485, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17')),
 ('model_b', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 3, 10, 0, 51, 14), 26554, 'routine1', Decimal('23.85'), Decimal('24.00'), Decimal('25.00'), 1, Decimal('100.00'), Decimal('23.90')),
 ('model_b', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 3, 10, 0, 51, 14), 26554, 'routine2', Decimal('3.00'), Decimal('4.00'), Decimal('5.00'), 1, Decimal('13.50'), Decimal('3.23')),
 ('model_b', 'c16_dt3600', '1', '6', 'breeze', datetime.datetime(2015, 3, 10, 0, 51, 14), 26554, 'routine3', Decimal('0.17'), Decimal('0.17'), Decimal('0.17'), 1, Decimal('0.72'), Decimal('0.17'))]

In [18]:
test =  session.query(model_config).filter(id==1).all();

AttributeError: 'Table' object has no attribute 'id'

In [17]:
print(test)

[]